.drawerPaper {
  width: var(--mobile-drawer-width);
  max-width: 100%;
}

.menuButtonWrapper {
  flex-grow: 1;
  text-align: end;
}

.menuItemButtonListItem {
  width: auto;
}

.menuItemButton {
  justify-content: flex-start;
}