.pageLayout {
  height: 100%;
}

.toolbar {
  column-gap: calc(var(--spacing) * 2);
  
  @media (--up-sm) {
    flex-wrap: wrap;
  }
}

.mainMenu {
  @media (--up-sm) {
    flex-wrap: wrap;
  }
}

.searchInput {
  width: 100%;

  @media (--up-sm) {
    width: auto;
    margin-top: calc(var(--spacing) * 1);
  }
}

.menuButton {
  margin-left: calc(var(--spacing) * 2);
}

.contentWrapper {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  gap: var(--spacing);
}

.mainContent {
  flex-grow: 1;
  overflow: hidden;
  color: var(--mui-palette-text-primary);
}

.asideContent {
  flex-shrink: 0;
  width: calc(var(--spacing) * 25);
}