.link {
  width: 100%;
  text-decoration: none;
  
  &:hover .description {
    text-decoration: underline;
  }
}

.card {
  display: flex;
  flex-flow: column nowrap;

  @media(--up-lg) {
    flex-direction: row;
  }
}

.cardContent {
  @media(--up-lg) {
    flex-grow: 1;
  }
}

.image {
  object-fit: contain;
  align-self: center;
  @media(--up-lg) {
    width: calc(var(--spacing) * 25);
  }
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
